// // Variable overrides second
$primary: #FFFFFF;
$secondary: #7D7D96;
$enable-shadows: true;
$prefix: "bt-";

$container-max-widths: (
  sm: 100%,
  md: 690px,
  lg: 930px,
  xl: 1290px
);

$grid-breakpoints: (
  xs: 0,
  md: 768px,
  lg: 991px,
  xl: 1320px,
  xxl: 1920px
);