.faq-page {
    background-image: url('/images/faq-bg.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;

    @media (max-width: 991px) {
        background-image: url('/images/faq-bg-light.png');
        background-position: center top;
        background-size: contain;
    }
}