.faq-questions {
    padding-top: 0;
    padding-bottom: 75px;

    @media (max-width: 768px) {
        padding-top: 0;
        padding-bottom: 60px;
    }

    &-list {
        margin-top: 40px;
    }
}