.trading {
    padding-top: 80px;
    padding-bottom: 80px;

    &-title {
        margin-bottom: 20px;
    }

    &-text {
        margin-bottom: 40px;
    }

    &-image {
        img {
            width: 100%;
        }
    }

    &-content {
        padding-top: 90px;

        @media (max-width: 991px) {
            padding-top: 60px;
        }

        @media (max-width: 576px) {
            padding-top: 40px;
        }
    }

    &-list {
        &__item {
            padding: 20px;
            border-radius: 20px;
            border: 1px solid #2E2E48;
            display: flex;
            gap: 20px;
            height: 100%;

            &--icon {
                width: 24px;
                display: flex;
                align-items: flex-start;
            }
            &--content {
                flex-grow: 1;

                p {
                    font-size: 16px;
                    line-height: 22px;
                    font-weight: 400;
                    color: var(--bt-secondary, #7D7D96);
                }
            }

            @media (max-width: 1320px) {
                padding: 15px;
                gap: 15px;

                &--content {
                    p {
                        font-size: 14px;
                        line-height: 20px;
                    }
                }
            }
    
            @media (max-width: 576px) {
                padding: 10px;
                gap: 10px;
                flex-direction: column;
            }
        }
    }
}