.custom-button-group {
    padding: 10px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 5%);
    display: flex;
    gap: 10px;

    &__item {
        label {
            background-color: transparent;
            border: 1px solid transparent;
            box-shadow: none;
            font-size: 14px;
            line-height: 20px;
            font-weight: 700;
            color: var(--bt-primary, #fff);
            padding: 12px 40px;

            &:hover {
                background-color: transparent !important;
                border-color: transparent;
                box-shadow: none;
                color: var(--bt-primary, #fff) !important;
            }
        }

        .btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show {
            background-color: rgba(255, 255, 255, 0.1) !important;
            border-color: #24EAA4;
            box-shadow: none;
            color: var(--bt-primary, #fff);
        }
    }
}